// Font Variables
$baseFont: "Varela Round", sans-serif;
$headerFont: "Baloo 2", cursive;

// Color Variables
$primaryColor: #0f0f0f;
$secondaryColor: #f8f8f8;
$accentColor: #c0ff33;
$textColor: #fff;
$iconColor: #b4b4b4;
$altTextColor: #000;

// Nav Variables
$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;
