.profile {
  display: flex;
  padding-top: 150px;
  margin-bottom: 200px;
  .profileImg {
    width: 50%;
    padding-right: 15px;
    img {
      padding-top: 160px;
    }
  }

  .intro {
    width: 50%;
    margin-top: 15%;
    padding-top: 25%;
    h2 {
      padding-bottom: 40px;
    }

    p {
      line-height: 25px;
      font-size: 2.3rem;
      word-spacing: 3px;
    }
  }
}

.about {
  position: relative;
  .triangleContainer {
    position: absolute;
    top: -16%;
    right: 0;
    width: 35%;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    .triangleOne {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }

    .triangleTwo {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }

    .triangleThree {
      grid-column: 2 / span 2;
      grid-row: 2 / span 1;
      margin-top: 5px;
    }

    .triangleFour {
      grid-column: 2 / span 2;
      grid-row: 3 / span 1;
    }
  }
}
