.loaderWrapper {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;

  .dbl-spinner {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    border-top: 2px solid $fadeColor;
    border-left: 2px solid $fadeColor;
    animation: 1.5s rotation linear infinite;
  }

  .dbl-spinner--2 {
    border: 2px solid transparent;
    border-right: 2px solid $accentColor;
    border-bottom: 2px solid $accentColor;
    animation: 1s rotation linear infinite;
  }
}
