@media (max-width: 1000px) {
  .profile {
    flex-direction: column;
    .profileImg {
      width: 100%;
      padding: 0;
      img {
        padding-top: 0;
      }
    }

    .intro {
      width: 100%;
      margin-top: 0;
      padding-top: 40px;
      text-align: center;
    }
  }

  .about {
    .triangleContainer {
      top: -8%;
    }
  }

  .projects {
    .projectItem {
      display: block;
      text-align: center;
      &:nth-child(2n) {
        text-align: center;
      }
      .imgContainer {
        width: 100%;
        padding-bottom: 40px;
      }

      .projectContent {
        width: 100%;
        padding: 0;
      }
    }
  }
}

@media (max-width: 790px) {
  header {
    .headerImage {
      h1 {
        font-size: 6rem;
        padding-top: 180px;
      }

      p {
        font-size: 3.5rem;
      }
    }
  }

  .profile {
    padding-top: 100px;
    img {
      width: 100%;
    }
  }

  .skillContainer {
    li {
      padding: 20px;
    }
  }

  .container {
    margin: 0;
  }
}

@media (max-width: 500px) {
  header {
    .headerImage {
      text-align: center;
      h1 {
        font-size: 4.3rem;
        padding-top: 200px;
      }

      p {
        font-size: 2.4rem;
        padding: 0;
      }
    }
  }

  .about {
    .triangleContainer {
      display: none;
    }
  }

  .profile {
    padding-top: 50px;
    .intro {
      p {
        font-size: 1.8rem;
        text-align: left;
      }
    }
  }

  .skills {
    h2 {
      padding: 40px 0;
    }
  }

  .skillContainer {
    padding: 0 20px 40px;
    li {
      padding: 15px;
      font-size: 0;
      i {
        font-size: 5.5rem;
      }

      img {
        height: 55px;
      }
    }
  }

  .profile,
  .skills,
  .projects,
  .contact {
    margin-bottom: 150px;
  }

  .container {
    form {
      .buttonStyle {
        width: 100%;
      }
    }
  }

  .projects {
    .projectItem {
      .button {
        width: 100%;
        &:nth-child(2n) {
          margin-left: 0;
        }

        a {
          padding: 10px 35%;
        }
      }

      .description {
        text-align: left;
      }
    }
  }
}
