.projects {
  margin-bottom: 200px;
  h2 {
    text-align: center;
  }

  .projectItem {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-top: 150px;
    opacity: 1;
    &:nth-child(2n) {
      flex-direction: row-reverse;
      text-align: right;
    }

    .projectContent {
      width: 50%;
      padding: 10px 50px;
    }

    .languages {
      word-spacing: 8px;
    }

    .imgContainer {
      width: 50%;
    }

    h3 {
      font-size: 3rem;
      color: $accentColor;
      padding: 15px 0;
    }

    .button {
      display: inline-block;
      text-align: center;
      @include buttonStyle($accentColor, 140px);
      &:nth-child(2n) {
        margin-left: 20px;
      }

      &:hover,
      &:focus,
      &:active {
        cursor: pointer;
        letter-spacing: 0.1em;
        transform: scale(1.1);
      }

      a {
        color: $altTextColor;
      }
    }
  }
}
