html {
  font-size: 62.5%;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

.underline {
  border-bottom: 3px solid $accentColor;
}

a,
button,
input,
li,
i {
  transition: all 0.3s;
}

body {
  background-color: $primaryColor;
  color: $textColor;
  font-family: $baseFont;
  font-size: 1.8rem;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: $headerFont;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}
