.projects {
  margin-bottom: 250px;
  h2 {
    text-align: center;
  }

  .project {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    &:nth-child(2n) {
      flex-direction: row-reverse;
      text-align: right;
    }

    .projectContent {
      padding: 10px 50px;
    }

    .languages {
      word-spacing: 8px;
    }

    h3 {
      font-size: 3rem;
      color: $accentColor;
      padding: 15px 0;
    }

    button {
      @include buttonStyle($accentColor, 140px);
      &:nth-child(2n) {
        margin-left: 20px;
      }

      &:hover,
      &:focus,
      &:active {
        cursor: pointer;
        letter-spacing: 0.1em;
        transform: scale(1.1);
      }
    }
  }
}
