.skills {
  text-align: center;
  padding: 100px 0;
  h2 {
    padding-bottom: 80px;
    font-size: 5rem;
  }
}

.skillContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid $primaryColor;
  border-radius: 40px;
  box-shadow: 0 0 60px $accentColor;
  padding: 60px 20px;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: $accentColor;
    img {
      filter: grayscale(100%);
      width: auto;
      height: 100px;
      margin-bottom: 15px;
    }

    i {
      font-size: 10rem;
      color: $iconColor;
      margin-bottom: 15px;
    }
  }
}
